/* Defaults */
body {
    font-size: 12px;
    background-color: #fff !important;
    font-family: Verdana;
}


a {
    color: black;
    text-decoration:none;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

h2 {
    color: #58585a;
    margin-top: 0;
    border-bottom: 1px solid #ccc;
}

img {
    border:none;
}

fieldset {
    border:1px solid #ccc;
    padding:20px;
    margin-bottom:10px;
}

textarea {
    width: 600px;
}

/* Headings */
h2.heading-middle {
    margin-top: 20px;
}

/* Images */
img.icon-padding {
    position:relative; top:3px;
}

.logo {
    float:left;
    padding: 0 0 15px 60px;
    height: 93px;
}

/* Tables */
table.main {
    width: 100%;
    padding: 0 20px;
}

table.main td {
    vertical-align: top;
}

tr.clickable:hover {
    background-color: #ddd;
    cursor:pointer;
}

table.lfs-manage-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

table.lfs-manage-table th {
    min-height: 20px;
    height: 20px;
    background-color: #ede9e8;
}

table.lfs-manage-table td {
    vertical-align: middle;
}

.checkbox {
    min-height: 20px;
    height: 20px;
}

.padding-top {
    margin-top: 10px;
}

.padding-top-large {
    margin-top: 20px;
}

.middle {
    margin-top: 10px;
}

td.left-slot {
  padding: 10px 20px 0 0;
  width: 200px;
}

td.middle-slot {
  padding-top: 10px;
}

th, td {
    text-align:left
}

.checkbox {
    width: 1px;
}

tr.odd {
    background-color: #eee;
}

tr.marked {
    background-color: yellow;
}

/* General formats */
.discreet {
    font-size: 90%;
    color: #aaa;
}

.label {
    font-weight: bold;
    color: #58585a;
}

.number-with-padding {
    text-align:right;
    padding-right: 20px;
}

.right,
.number {
    text-align:right;
}

.tiny {
    width: 50px;
}

.small {
    width: 100px;
}

.middle {
    width: 200px;
}

.long {
    width: 350px;
}

.lfs-header {
    background: url("../img/header_bg.jpg") repeat-x;
}

.username {
    float:right;
    padding-right: 30px;
    padding-top: 30px;
}

.navigation-pages {
    padding: 0 0px 3px 0px;
    background-color: #ede9e8;
    border: 1px solid #aaa;
    text-align:center;
    width: 170px;
}

.navigation-pages img {
    position:relative; top:3px;
}

.manage-products .navigation-pages {
    margin: 19px 5px 0 0;
    float: left;
}

.manage-products .navigation-pages,
.manage-product .navigation-pages {
    float: left;
}

.manage-product .navigation-pages,
.manage-review .navigation-pages,
.manage-customer .navigation-pages,
.manage-cart .navigation-pages,
.manage-order .navigation-pages {
    margin: 20px 0;
}

.manage-categories-portlet {
    padding-top: 20px;
}

.manage-categories-portlet li {
    font-weight: normal;
}

.manage-categories-portlet li.current-item {
    font-weight: bold;
}

#manage-categories-categories-control {
    font-size: 9px;
    padding: 2px 0 10px 0;
}

#manage-product-categories-control {
    padding: 0 0 20px 0;
}

#selectable-products-filter-input,
#selectable-products-category-filter {
    width: 170px;
}

#selectable-exports-inline {
    padding-top: 55px;
}

/* Links */
a.selectable {
    color: black;
    text-decoration:none;
    display:block;
}

a.selectable:hover {
    background-color: #ede9e8;
}

a.selected,
a.selectable.selected {
    font-weight: bold;
    background-color: #ede9e8;
}

a.selectable.variant {
    padding-left: 10px;
}

a.criterion-add-first-button {
    text-decoration: None;
}

a.button {
    border: 1px solid #aaa;
}

a.add {
    margin: 0 10px;
    padding-left: 18px;
    background: url(/media/lfs/icons/add.png) no-repeat;
}


a.delete {
    margin: 0 10px;
    padding-left: 20px;
    background: url(/media/lfs/icons/delete.png) no-repeat;
}

a.export {
    margin: 0 10px;
    padding: 0 0 1px 20px;
    background: url(/media/lfs/icons/disk.png) no-repeat;
}

a.overview {
    margin: 0 10px;
    padding-left: 20px;
    background: url(/media/lfs/icons/arrow_up.png) no-repeat;
}

a.preview {
    margin: 0 10px;
    padding-left: 18px;
    background: url(/media/lfs/icons/zoom.png) no-repeat;
}

a.reset {
    margin: 0 10px;
    padding-left: 18px;
    background: url(/media/lfs/icons/cancel.png) no-repeat;
}

a.send {
    margin: 0 10px;
    padding-left: 22px;
    background: url(/media/lfs/icons/email.png) no-repeat;
}

a.first {
    padding-left: 15px;
    background: url(/media/lfs/icons/resultset_first.png) no-repeat;
}

a.previous {
    padding-left: 15px;
    background: url(/media/lfs/icons/resultset_previous.png) no-repeat;
}

a.next {
    padding-left: 15px;
    background: url(/media/lfs/icons/resultset_next.png) no-repeat;
}

a.last {
    padding-left: 15px;
    background: url(/media/lfs/icons/resultset_last.png) no-repeat;
}

a.view {
    padding-left: 20px;
    background: url(/media/lfs/icons/zoom.png) no-repeat;
}

a.edit {
    margin-right:10px;
    padding-left: 20px;
    background: url(/media/lfs/icons/pencil.png) no-repeat;
}


/* Forms */
.inline {
    display: inline;
}

.top-buttons {
    padding-bottom: 8px;
}

/* Accessories */
.selectable-products {
    min-height: 200px;
    margin: 6px 0;
}

.selected-accessories {
    height: 200px;
    overflow: auto;
    margin: 6px 0 20px 0;
}

div.manage-form-buttons {
    padding-top: 20px;
}

#message {
    border: 1px solid red;
    display: none;
}

body.manage-product .image-item {
    padding: 10px 0;
}

body.manage-product ul.manage-categories {
    list-style-type: none;
    padding-left: 20px;
}

body.manage-product ul.manage-categories.root {
    padding: 0;
}

.droppable-hover {
    background-color: yellow;
    height: 23px;
}

/* criteria */
.criterion-value {
    text-align:right;
    width: 80px;
}

div.site-actions {
    margin: 20px 0;
}

div.site-actions img {
    position: relative; top: 3px;
}

span.delete {
    margin: 0 0 0 10px;
    padding-left: 20px;
    background: url(/media/lfs/icons/delete.png) no-repeat;
}

/* Forms */
.field {
    margin-bottom:10px;
}

.field .error input {
    border-color: red;
}

.field li {
    display: inline;
    color: red;
}

.field ul {
    display: inline;
    list-style-type: none;
    padding: 0;
}

select.categories {
    width: 200px;
}

/* input fields */
#id_name, #id_slug, #id_sku, #id_shop_owner, #id_from_email, #id_title {
    width: 300px;
}

/* portlets */
.portlet ul {
    list-style-type: none;
}

.portlet ul.root {
    padding: 0;
    margin: 0;
}

.portlet ul {
    margin: 0;
    padding-left:20px;
}

.portlet {
    margin-bottom:15px;
}

.portlet li {
    font-weight: normal;
}

.portlet li.current-item {
    font-weight: bold;
    background-color: #ede9e8;
}

.portlet a {
    display: block;
}

.portlet a:hover {
    background-color: #ede9e8;
}

.portlet li.current-item ul {
    background-color: white;
}

div.footer {
    color: #58585a;
    background-color: #f5f5f5;
    margin-top: 50px;
    padding: 10px 0;
}

div.footer a {
    color: #58585a;
}

div.footer p {
    text-align: center;
   	line-height: 0.5em;
}

.attention {
    color: #ef2c38;
}

.filters {
    padding: 0 0 10px 0;
}

.filters td {
}

.filters td.discreet {
    padding-left: 4px;
}

.filters .navigation-pages {
    margin-right: 20px;
}