<form action="{% url lfs_manufacturer_update_manufacturer_data manufacturer_id %}"
      method="post">
    <table>
        {{ form }}
    </table>
    <input type="submit"
           class="ajax-save-button-2" />
</form>