{% load i18n %}

<div id="vouchers-inline">
    {{ vouchers_inline|safe }}
</div>

<h2 style="padding-top:20px">{% trans "Add vouchers" %}</h2>
<form action="{% url lfs_manage_add_vouchers voucher_group.id %}"
      method="post">

    <table>
        {{ voucher_form.as_table }}
    </table>

    <input class="padding-top ajax-save-button-2"
           type="submit"
           value='{% trans "Add vouchers" %}'

</form>

