{% if pages %}
	<ul class="menu" id="{{page.id}}">
	    {% for page in pages %}
	        <li id="page_{{page.id}}"
	            {% if page.is_current %}class="current-item"{% endif %}>
	            <a href="{% url lfs_manage_page page.id %}">
	                {{page.title}}
	            </a>
	            {{page.children}}
	        </li>    
	    {% endfor %}
	</ul>	
{% endif %}