{% load i18n %}

<div class="manage-pages-portlet">

	<div id="manage-pages-pages-control">
		<a href="#">{% trans "Collapse all" %}</a> |
		<a href="#">{% trans "Expand all" %}</a>
		<a href="#"></a> | 
		<a class="show-current"
		   data="#page_{{ page_id }}"
		   href="#">{% trans "Show current" %}</a>
	</div>
	
    <ul class="root menu">
        {% for page in pages %}
            <li {% if page.is_current %}class="current-item"{% endif %}
                id="page_{{page.id}}">
                <a class="manage-page-link" 
                   href="{% url lfs_manage_page page.id %}">
                    {{ page.title }}
                </a>
                {{ page.children }}
            </li>
        {% endfor %}
    </ul>
</div>


<script>
	$(function() {
		$("ul.menu").treeview({
			collapsed: true,
			persist: "cookie",
   			cookieId: "manage-pages-pages",
			control: "#manage-pages-pages-control",
		})
	})
</script>